.w3_margin{
    width:60%;
    margin:auto;
    background:  linear-gradient(to right, rgb(80, 76, 76),rgb(155, 7, 7)); 
    /* background:  linear-gradient(to right, rgb(19, 11, 11),rgb(155, 7, 7));  */
}
#clickresponse{
    display:none;
}
#errorresponse{
    display:none;
}
#top{
    margin-top:85px;
    width:100%;
    height:1000px;
}
.formerror{
    border:3px solid red;
}
.w3_margin_md{
    width:100%;
    /* margin:auto; */
    box-shadow: 5px 2px 5px  solid black;
} 
.w3-block{
    display: flex;
    align-items: baseline;
}
input[type=text]{
    width:92%;
}
.margin-left{
    margin-left: 10px;
}
@media screen and (max-width:800px){
    .w3_margin{
        width:100%;
        margin:0px;
    }
  
}
@media screen and (max-width:993px){
    #top{
        margin-top:70px;
    }
}
@media screen and (max-width:469px){
    .w3-container{
        width:100%;
        margin:0px;
    }
    .w3_margin{
        margin: 0px;
    }
  
    .w3-right{
        float:none;
    }
    .margin-left{
        margin-left: 0px;
    }
}
.w3_inline{
    display: flex;
    /* align-items: baseline; */
}
